*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;

}
section {
    height: 937px;
}
.micol-izq{
  padding-right: 200px;
}
.micol-der{
  padding-left: 200px;
}
@media (min-width: 992px)
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.bottle{
  background-image: url("../img/botellaCielo.png");
}

section.bottle-cont {
    position: relative;
    overflow: hidden;
}
section.bottle-cont .bottle {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100%);
    background-position: 50% 40px !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: auto 800px !important;
    pointer-events: none;
    z-index: 2;
}






.parallax{
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
	margin-top: -30px;
	width: 100%;
	height: 900px;
	position: fixed;
}
.parallax .contenido{
	position: relative;
	top:400px;
	text-align: center;
	color: #FFF;
}
.wrapper{
	position: relative;

}
.wrapper div{
	position: fixed;
	width: 350px;
	height: 350px;
	border-radius: 50px;
	background-image: url(../img/dev.PNG);
  background-repeat: no-repeat;
}
#uno{
	background: url(../img/nube.jpg);
	background-size: 100% 100%;
}
#dos{
	background: url(../back2.jpg);
	background-size: 100% 100%;
}
.containerd{
  display: block;
  position: absolute;

}
.logo{
  position: fixed;
  z-index: 11;
  margin-top: 12px;
}
.content-botella{

  position: fixed;
  z-index: 10;
    left: 30%;
    top: 3%;
  transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
}
.botella{
  position: fixed;



}
#second{
  background: #0B739A;

}
section.bottle-cont#muller .nextSection {
    background: #1a1a1a;
}
section.bottle-cont .nextSection {
    position: absolute;
    width: 140px;
    height: 70px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    text-align: center;
    line-height: 95px;
}
.menu-nav{
  position: relative;
  overflow: hidden;

}
.container-menu{
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
  /*  background: linear-gradient(10deg, #313112, #2E2E22);*/
    background-color: #4D7FE3;
    border-radius: 0% 0% 0% 100%;
    padding: 26px 26px 52px 52px;
    transition: all 0.2s;
}

.icon-menu{
    color: white;
    font-size: 30px;
}

.icon-close{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 26px;
    left: 26px;
    display: none;
}

.menu{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
}

.menu a {
    padding: 26px;
    font-size: 60px;
    text-align: center;
    color: white;
  display: block;

}

.menu a:before{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    top: 86px;
    left: 50%;

    transition: all 300ms;
}
.menu a:hover{
    color: #6F84A4;
    text-decoration: none;
transform:translate(0px,-10px);
}
.menu a:hover:before{
    width: 100%;
    left: 0%;
}
@keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 50px}
  100% {top: 100px;}
}
